body {
  background: #030c1c;
}

.main {
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  font-family: "Modern Neon", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16vw;
  text-align: center;
  white-space: nowrap;
}
.main span {
  display: block;
  position: relative;
  transform: translateZ(0) translate3D(0, 0, 0);
  backface-visibility: hidden;
  will-change: opacity;
}

.main .header {
  color: #ffd9e2;
  text-shadow:
    0 0 0 transparent,
    0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5),
    0 0 40px #ff003c,
    0 0 100px #ff003c,
    0 0 200px #ff003c,
    0 0 300px #ff003c,
    0 0 500px #ff003c,
    0 0 1000px #ff003c;
  animation: blink 4s infinite alternate;
}

.main .description {
  font-size: 11vw;
  color: #d4eaff;
  text-shadow:
    0 0 0 transparent,
    0 0 10px #2695ff,
    0 0 20px rgba(38, 149, 255, 0.5),
    0 0 40px #2695ff,
    0 0 100px #2695ff,
    0 0 200px #2695ff,
    0 0 300px #2695ff,
    0 0 500px #2695ff;
  animation: buzz 0.01s infinite alternate;
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    width: 400px;
    font-size: 150px;
  }

  .main .description {
    font-size: 103px;
  }
}
