* {
    box-sizing: border-box;
}

body {
    background-color: #faedcd;
    color: #d4a373;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.screen.visible {
    display: flex;
}

.btn {
    border: 0;
    background-color: #d4a373;
    color: #fefae0;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.sweets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.sweets-list li {
    margin: 10px;
}

.choose-sweet-btn {
    background-color: transparent;
    border: 2px solid #d4a373;
    width: 150px;
    height: 150px;
    cursor: pointer;
    font-family: inherit;
    color: #d4a373;
}

.choose-sweet-btn img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.choose-sweet-btn:hover {
    background-color: #fefae0;
}

.game-container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    position: absolute;
    top: -100px;
}

.message.visible {
    top: 40px;
}

.sweet {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
}

.sweet img {
    width: 100px;
    height: 100px;
}