@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #faedcd;
  color: #d4a373;
  font-family: "Shantell Sans", cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #d4a373;
}

h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  background-color: #d4a373;
  color: #fefae0;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.screen.visible {
  display: flex;
}

.sweets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.sweets-list li {
  margin: 10px;
}

.choose-sweet-btn {
  background-color: transparent;
  border: 2px solid #d4a373;
  color: #d4a373;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.choose-sweet-btn:hover {
  background-color: #fefae0;
}

.choose-sweet-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-sweet-btn img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.sweet {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
}

.sweet img {
  width: 100px;
  height: 100px;
}
